<h1>Create a new Historic Figure</h1>

<form action="/figures" method="post">
  <label for="figure_name">Figure's Name: </label>
  <input id="figure_name" type="text" name="figure[name]" />

  <br></br>

  <label for="figure_titles">Figure's Title(s): </label>

  <input id="submit" type="submit" />
</form>
